<div fxLayout="row" fxLayoutAlign="center center" fxFill>
  <mat-card fxLayoutAlign="center center">
    <form [formGroup]="signUpForm" fxFill>
      <div class="container" fxLayout="column" fxLayoutAlign="center center" fxFill>
        <img src="../../.././assets/vivo-logo.jpeg" alt="logo" />
        <h5>Sign Up To use Vivo Job Portal</h5>
        <input type="email" placeholder="Enter Email" formControlName="email" required>

        <input type="password" placeholder="Enter Password" formControlName="password" required>



        <div fxLayout="row" fxLayoutAlign="space-between" fxFill>
          <button mat-raised-button (click)="saveNewUser()"  type="submit">
            <i class="far fa-envelope"></i> Sign up with mail
          </button>

          <button mat-raised-button (click)="signUpWithGoogle()" class="google-btn" type="submit">
            <img src="../../.././assets/google-logo.png"/>
            Sign Up with Google
          </button>
        </div>
      </div>

      <div class="container">
        <a [routerLink]="['/log-in']" routerLinkActive="router-link-active">Already have an account? Log In here</a>

      </div>

    </form>
  </mat-card>
</div>