<div fxLayout="column" fxLayoutAlign="center center" fxFill>
    <img class="vivo-logo" src="../../../assets/vivo-logo.jpeg" alt="vivo-logo"/>
    <h4>Fill in Your details appropriately</h4>
    <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
            <mat-expansion-panel-header>
                <h4><i class="fas fa-address-card"></i> Basic Details</h4>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <app-user-contacts-form (nextSectionEvent)="nextSection($event)"></app-user-contacts-form>
            </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel  [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
            <mat-expansion-panel-header>
                <h4><i class="fas fa-briefcase"></i> Work Experience</h4>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <app-work-experience-form (nextSectionEvent)="nextSection($event)"></app-work-experience-form>
            </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel  [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
            <mat-expansion-panel-header>
                <h4><i class="fas fa-graduation-cap"></i> Education</h4>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <app-education-details-form></app-education-details-form>
            </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel  [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
            <mat-expansion-panel-header>
                <h4><i class="fas fa-users"></i> Referees</h4>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <app-referees-details-form></app-referees-details-form>
            </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel  [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
            <mat-expansion-panel-header>
                <h4><i class="fas fa-upload"></i> Uploads</h4>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
               <app-uploads-details-form></app-uploads-details-form>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>