<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <h4><i class="fas fa-xs fa-info-circle"></i> Get started</h4>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            how to get started
        </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <h4><i class="fas fa-xs fa-info-circle"></i> Save bookmarks</h4>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            how to save
        </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <h4><i class="fas fa-xs fa-info-circle"></i> Search bookmarks</h4>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            how to search
        </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <h4><i class="fas fa-xs fa-info-circle"></i> Bookmarklets</h4>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            how to bookmark
        </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <h4><i class="fas fa-xs fa-info-circle"></i> Codelets</h4>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            how to codelet
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>