/* Bordered form */
form {
    margin: 5%;
    width: 75%;
  }
.google-btn{
  background-color: #4285F4;
  margin-left: 5px;
  color: white !important;
}

.google-btn img{
  border-radius: 50%;
  width: 20px;
  height: 20px;
}


  mat-card{
    width: 400px;
    margin: 5px;
  }
  i{
    margin: 2%;
  }

  label, b{
      font-size: smaller;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {  
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    width: 60%;
    border-radius: 2%;
    font-size: 12px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }


  // logo

  img{
    width: 40px;
    height: 40px;
  }