<div fxLayout="row" fxLayoutAlign="center center" fxFill>
  <mat-card fxLayoutAlign="center center">
    <form [formGroup]="forgotPasswordForm">  
      <div class="container" fxLayout="column" fxLayoutAlign="center center" fxFill>
        <img src="../../.././assets/vivo-logo.jpeg" alt="logo" />
          <h5>Retrieve Forgotten Password</h5>
          <input type="text" placeholder="Enter Email" formControlName="email" required>      
          <button mat-raised-button color="primary" (click)="resetPassword()" type="submit">Reset password</button>
          <div class="container" fxLayout="row" fxLayoutAlign="space-between" fxFill>
            <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active">No Account? Sign Up Here</a> <br>
            <a [routerLink]="['/log-in']" routerLinkActive="router-link-active">Go Back?</a>
          </div>
       
        </div>
      </form>
  </mat-card>
  </div>